jupyter==1.0.0
notebook==5.4.1
numpy==1.15.4
pandas==0.22.0
requests==2.9.1
ipykernel==4.10.0
gensim==3.6.0
pythainlp==1.6.0.7
scikit-learn==0.20.2
beautifulsoup4==4.7.0
selenium=3.141.0
deepcut==0.6.1.0
tensorflow==1.12.0
